body{
  margin: 0px
}
p{
  /*   font-family: "Roboto", "Text me one", sans-serif;  */
  margin: 10px

}

.container{
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: flex-end;
  justify-content: center;
  background-image: url(images/background-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.box{
  border:10px;
  margin:10px;

}
.phone-box-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px;
  padding: 25px;
  border: 20px;
  background-color: white;
  border-radius: 30px;
}

.title{
  font-family: "Text me one";
  color: #000000;
  text-align: center;
  font-size: 150px;
  margin: 20px;
}
.Roboto{
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-style: normal;
  text-align: center;
  line-height: 50px;
}
.phone-suffix{
  background-color: rgba(167, 222, 182, 0.38);
  border-radius: 20px 0px 0px 20px;

}
.go-btn{
  color: #2ACD56;
  font-weight: bolder;
  text-decoration: none;
}
.welcome-text{
  padding: 40px;
}
