.container{
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	background-image: url(picture/carte.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.green-box{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	height: 40vh;
	width: 100vw;
	background: green;
	border-radius: 30px 30px 0 0;
}

img{
	width: 500px
}

h1 {
	text-align: center;
	margin: 5px;
}

.car-info{
	background-color: green;
	padding: 0px;
	box-shadow: 0 100px 30px rgb(0 0 0/10%);
	border-radius: 4px;
	text-align: center;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 5px;
	font-size: 40px;
}

.fuel{
	height: auto;
	width: auto;
	background: white;
	border-radius: 40px;
	padding: 20px;
	margin-left: 5px;

}

.distance{
	height: auto;
	width: auto;
	background: white;
	border-radius: 40px;
	padding: 20px;
	margin-right: 5px;
}

.choice{
	background-color: green;
	padding: 10px;
	box-shadow: 0 100px 30px rgb(0 0 0/10%);
	border-radius: 10px;
	margin: 10px;

	/*
display: contents;
	justify-content: center;
	align-items: center;*/



}

.blink{
	background: white;
	border-radius: 30px;
	margin: 10px;
	text-align: center;
	font-size: 50px;
	padding: 10px;

}

.start{
	background: white;
	border-radius: 30px;
	margin: 10px;
	text-align: center;
	font-size: 50px;
	padding: 10px;

}
.car{
	margin: 0px;
	padding: 5px;
}
