.container{
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	background-image: url(picture/carte.jpg);
}
.green-box{
	height: 500px;
	width: 500px;
	background: green;
	border-radius: 30px 30px 0 0;
}

img{
	width: 500px
}

#car {
	text-align: center;
}

.car-info{
	background-color: green;
	padding: 1px;
	box-shadow: 0 100px 30px rgb(0 0 0/10%);
	border-radius: 4px;
	text-align: center;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 25px;
}

.fuel{
	height: auto;
	width: auto;
	background: white;
	border-radius: 30px;

}

.distance{
	height: auto;
	width: auto;
	background: white;
	border-radius: 30px;
}

.choice{
	background-color: green;
	padding: 10px;
	box-shadow: 0 100px 30px rgb(0 0 0/10%);
	border-radius: 10px;
	margin: 25px;

	display: contents;
	justify-content: center;
	align-items: center;

}

.blink{
	height: 70px;
	width: 300px;
	background: white;
	border-radius: 30px;
	margin-bottom: 10px;
	text-align: center;

}

.start{
	height: 70px;
	width: 300px;
	background: white;
	border-radius: 30px;
	text-align: center;

}
